<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Foodfy</title>
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/recipes.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <div class="logo">
        <a href="index.html"><img src="assets/logo.png" alt="Logo Foodfy"></a>
      </div>

      <div class="links">
        <a id="about" href="about.html">Sobre</a>
        <a id="recipes" href="recipes.html">Receitas</a>
      </div>

    </header>

    <div class="banner">
      <div class="banner__information">
        <h1>As melhores receitas</h1>
        <p>Aprenda a construir os melhores pratos com
          receitas criadas por profissionais do mundo inteiro.</p>
      </div>

      <div class="banner__image-container">
        <img src="assets/chef.png" alt="Chef">
      </div>
    </div>

    <h1 class="section-cards-title">Mais Acessadas</h1>

    <section class="cards">

      <div class="card">
        <div class="card__image-container">
          <img src="assets/burger.png" alt="Burger">
        </div>

        <div class="card__recipe">
          <p class="card__recipe-name">Triplo Bacon Burger</p>
          <p class="card__author">por Jorge Relato</p>
        </div>
      </div>

      <div class="card">
        <div class="card__image-container">
          <img src="assets/pizza.png" alt="Pizza">
        </div>

        <div class="card__recipe">
          <p class="card__recipe-name">Pizza 4 estacoes</p>
          <p class="card__author">por Fabiana Melo</p>
        </div>
      </div>

      <div class="card">
        <div class="card__image-container">
          <img src="assets/espaguete.png" alt="Espaguete">
        </div>

        <div class="card__recipe">
          <p class="card__recipe-name">Espaguete ao alho</p>
          <p class="card__author">por Julia Kinoto</p>
        </div>
      </div>

      <div class="card">
        <div class="card__image-container">
          <img src="assets/lasanha.png" alt="Burger">
        </div>

        <div class="card__recipe">
          <p class="card__recipe-name">Lasanha mac n'cheese</p>
          <p class="card__author">por Juliano Vieira</p>
        </div>
      </div>

      <div class="card">
        <div class="card__image-container">
          <img src="assets/doce.png" alt="Docinhos pao-do-ceu">
        </div>

        <div class="card__recipe">
          <p class="card__recipe-name">Docinhos pao-do-ceu</p>
          <p class="card__author">por Ricardo Golvea</p>
        </div>
      </div>

      <div class="card">
        <div class="card__image-container">
          <img src="assets/asinhas.png" alt="Asinhas de frango ao barbecue">
        </div>

        <div class="card__recipe">
          <p class="card__recipe-name">Asinhas de frango ao molho barbecue</p>
          <p class="card__author">por Vania Steoski</p>
        </div>
      </div>
    </section>

  </div> <!-- end wrapper -->

  <div class="modal-overlay">
    <div class="modal">
      <div class="modal-content">
        <img src="" alt="">
        <p class="modal__recipe-name"></p>
        <p class="modal__author"></p>
        <p class="modal__close">Fechar modal</p>
      </div>
    </div>
  </div>

  <footer>
    <p>Todos direitos reservados, receitas Foodfy.</p>
  </footer>

  <script src="javascript/scripts.js"></script>

</body>

</html>