{% extends "layout.njk" %}

{% block head %}
<title>Recipes - Foodfy</title>

<link rel="stylesheet" href="/recipes.css">

{% endblock %}

{% block content %}


<section class="cards">

  {% for item in items %}

  <div class="card" id="{{item.title}}">
      <div class="card__image-container">
          <a href="/recipes/{{loop.index0}}"><img src="{{item.image}}" alt="{{item.title}}"></a>
      </div>

    <div class="card__recipe">
      <p class="card__recipe-name">{{item.title}}</p>
      <p class="card__author">{{item.author}}</p>
    </div>
  </div>

  {% endfor %}

</section>

{% endblock %}
