
h3 {
  padding: 20px 0 20px 0;
}

h4 {
  padding-bottom: 30px;
}

.recipe {
  line-height: 20px;
}

.recipe-header {
  line-height: 40px;
}

.recipe-content {
  list-style-position: inside;
}

/* === Links === */

.linkActive {
  font-weight: bold;
}

.hide {
  display: none;
}

.show {
  display: block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

